params {

    // Input FASTA files (glob pattern)
    // Default: all *_unique.fasta files in current directory
    fasta_input = "${launchDir}/*_unique.fasta"

    // Pre-built germline database (optional)
    // If null, will attempt to fetch from IMGT
    germline_db = null

    // Species for germline lookup
    species = "bovine"

    // Output directory
    results = "${launchDir}/results"

    // Clone definition parameters
    // Junction hamming distance threshold (0.15 = 15% difference allowed)
    clone_threshold = 0.15

    // Minimum sequences per sample to include in analysis
    min_seq_count = 1

}


// Container configuration
process {
    container = 'immcantation/suite:4.5.0'
}


// Profile options
profiles {

    standard {
        docker.enabled = true
        singularity.enabled = false
    }

    docker {
        docker.enabled = true
        singularity.enabled = false
    }

    singularity {
        singularity.enabled = true
        docker.enabled = false
    }

    apptainer {
        apptainer.enabled = true
        docker.enabled = false
    }

}


// Execution report
report {
    enabled = true
    overwrite = true
    file = "${params.results}/pipeline_report.html"
}


// Manifest
manifest {
    name = 'bovine-igg-repertoire'
    description = 'Bovine IgG repertoire diversity analysis using Immcantation'
    author = 'bovine-igg-pipeline'
    version = '0.1.0'
    mainScript = 'main.nf'
    defaultBranch = 'main'
}
